---
import {Tabs, TabItem, Code} from '@astrojs/starlight/components';

const {code, lang = 'angular-ts'} = Astro.props;
---

<Tabs syncKey="qrcode-example">
  <TabItem label="Code">
    <Code lang={lang} code={code ?? ''} />
  </TabItem>
  <TabItem label="Preview">
    <div class="flex flex-col items-center">
      <slot />
    </div>
  </TabItem>
</Tabs>
